{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check ID</title>
</head>
<body>
    <div class="container">
        {% if is_taken == -1  %}
        <h4>ID를 입력해주세요. </h4>
        <form action="." method="post"> {% csrf_token %}
            <div class = "row">
                <input type="text" class="form-control" name="check_id">
            </div>
            <input type="submit" value="조회" class="btn btn-primary btn-sm">
        </form>

        {% elif is_taken == True %}
        <h4>해당 ID({{username}})는 중복됩니다.</h4>
        <form action="." method="post"> {% csrf_token %}
            <div class = "row">
                <input type="text" class="form-control" name="check_id">
            </div>
            <input type="submit" value="조회" class="btn btn-primary btn-sm">
        </form>

        {% else %}
        <h4>해당 ID({{username}})는 사용 가능합니다.</h4>
        <button onclick="useUsername('{{username}}')" class="btn btn-primary btn-sm">사용하기</button>

        {% endif %}
    </div>

    <script>
        function useUsername(username) {
            if (window.opener && !window.opener.closed) {
                window.opener.document.getElementById('id_username').value = username;
                window.close();
            }
        }
    </script>
</body>
</html>