{% extends 'single_page/base.html' %}
{% load widget_tweaks %}
{% block extra-style %}
<style>
    .form-border {
        border: 1px solid black;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 500px; /* 최대 너비 제한 */
    }
</style>
{% endblock %}

{% block main_area %}
{% if form.non_field_errors %}
    <script>
        alert("{{ form.non_field_errors.as_text|escapejs }}");
    </script>
{% endif %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 50vh; background-color:#F5F6F8;">
    <div class="form-border bg-white">
        <h4 class="text-center mb-5">아이디 찾기</h4>
        <div class="text-center col-md-12 mb-5">
            <p>등록된 아이디의 회원명과 휴대폰 번호를 입력해주세요.</p>
        </div>
        <div class="col-10 mx-auto">
            <form action="." method="post">
                {% csrf_token %}
                <div class="col mb-4">
                    {{ form.search_name|add_class:"form-control"|attr:"placeholder=이름"}}
                </div>
                <div class="form-group mb-4">
                    <div class="row">
                        <div class="col-8">
                            {{ form.search_phone|add_class:"form-control"|attr:"placeholder:휴대폰번호 (010-XXXX-XXXX)"}}
                        </div>
                        <div class="col-4">
                            <input class="btn btn-secondary p-1" type="button" value="인증번호 발송">
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    {{ form.certification_num|add_class:"form-control"|attr:"placeholder=인증번호 (6자리)"}}
                </div>
                <div class="d-grid mb-4">
                    <input type="submit" class="btn btn-primary" value="확인">
                </div>
            </form>
            <div class="col-12">
                <p><a href="{% url 'search_psw'%}">비밀번호를 잃어버리셨나요?</a></p>
            </div>
            <div class="col-12">
                <p><a href="{% url 'register' %}">회원가입하러 가기</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
