{% extends 'single_page/base.html' %}

{% load widget_tweaks %}
{% block extra-style %}
<style>
    .border {
        background-color: white;
        border-radius: 10px;
        padding: 40px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .btn-custom {
        background-color: #007bff;
        border: none;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .btn-custom:hover {
        background-color: #0056b3;
    }
    /*.form-control-custom {*/
    /*    max-height: 3.6em; !* 2줄 높이 설정 (1줄 높이 ≈ 1.8em) *!*/
    /*    overflow-y: auto; !* 수직 스크롤바 추가 *!*/
    /*    line-height: 1.8em; !* 줄 높이 설정 *!*/
    /*    resize: vertical; !* 사용자가 필드 크기를 수직으로 조절할 수 있게 함 (선택적) *!*/
    /*}*/
</style>
{% endblock %}

{% block main_area %}
    <form class="border col-6 mx-auto" action="." method="post"> {% csrf_token %}
        {% if form.errors %}                                                                # 비밀번호 오류시 출력
        <div class="alert alert-danger">
            <p><strong>비밀번호를 확인해주세요</strong></p>
            {% for field in form %}
                {% if field.errors %}
                    <p>[{{ field.label }}] {{ field.errors|join:", " }}</p>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <h4 class="mb-3">비밀번호 수정</h4><br>
        <div class="row mb-3 d-flex align-items-center">
            <label class="col-2 col-form-label">기존 비밀번호</label>
            <div class="col-10 col-offset-3">
                {{form.old_password|add_class:"form-control"}}
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-2 col-form-label">비밀번호</label>
            <div class="col-10 col-offset-3">
                {{form.new_password1|add_class:"form-control"}}
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-2 col-form-label">비밀번호 확인</label>
            <div class="col-10 col-offset-3">
                {{form.new_password2|add_class:"form-control"}}
            </div>
        </div>

        <div class="row mb-3">
            <div class="d-grid">
                <input type="submit" class="btn-custom" value="확인">
            </div>
        </div>
    </form>
</div>

{% endblock %}