<div class="container">
    <h2>회원 탈퇴</h2>
    <p>정말로 계정을 삭제하시겠습니까?<br> 이 작업은 되돌릴 수 없습니다.</p>
    <form id="delete-form" method="post">
        {% csrf_token %}
        <button type="button" onclick="submitForm()">계정 삭제</button>
    </form>
</div>

<script>
    function submitForm() {
        var form = document.getElementById('delete-form');
        var formData = new FormData(form);

        // AJAX 요청
        fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            }
        })
        .then(response => {
            if (response.ok) {
                if (window.opener) {
                    // 부모 창에 로그인 페이지로 리다이렉트
                    window.opener.location.href = "{% url 'login' %}";
                }
                window.close(); // 현재 창을 닫습니다.
            } else {
                alert('삭제 요청에 실패했습니다.');
            }
        })
        .catch(error => {
            console.error('삭제 요청 중 오류 발생:', error);
            alert('삭제 요청 중 오류 발생');
        });
    }
</script>