{% extends 'single_page/base.html' %}
{% block main_area %}
    {% load static %}
  

    <style>
        .faq-detail-table {
            width: 50%;
            margin: 40px auto;
            border-collapse: collapse;
            background-color: black;
        }
        .faq-detail-table th, .faq-detail-table td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        .faq-detail-table th {
            background-color: lightgray;
        }
        .faq-detail-table td {
            background-color: white;
        }
    </style>

    <div style="text-align: center;">
        <h2>{{ faq.title }}</h2>
    </div>

    <div style="width: 70%; margin: 40px auto;">
        <table class="faq-detail-table">
            <tr>
                <th>질문 내용</th>
                <td>{{ faq.content }}</td>
            </tr>
            <tr>
                <th>답변</th>
                <td>{{ faq.answer|default:"아직 답변이 없습니다." }}</td>
            </tr>
        </table>
    </div>
{% endblock %}


