<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Home</title>
</head>
<body>
    <h1>Dashboard Home</h1>
    <p>Welcome to the Dashboard!
        대시보드 내용 추가예정입니다..
        해야하는것..
        1. 네이버 api로 변경해서, 지오코딩 결과를 MYSQL 데이터베이스에 저장하고 그를 불러오는 방식으로 변경
        2. 오늘까지~ 총 이용 횟수 : 몇번! 하고 나타내기
        3. 도 별로 이용횟수 막대그래프
        4. 도 별로 이용자 수 (파이그래프?)
        
        
    </p>

    <h2>이용자 지도</h2>
    <div id="map" style="height: 300px; width: 50%">
        {{ map_html|safe }}
    </div>
</body>
</html>


