<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{%static 'single_page/script.JS' %}"></script>
        <link href="{%static 'bootstrap/bootstrap.css' %}" rel="stylesheet" crossorigin="anonymous">
        <script src="{%static 'bootstrap/bootstrap.js' %}" crossorigin="anonymous"></script>
        <link rel = "stylesheet" href = "{%static 'single_page/pretendard.css' %}">
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <title>base</title>
    {% block extra-style %}{% endblock %}
</head>
<body style="overflow-x: hidden">
    {% include 'single_page/navbar.html' %}
    <div class="w-auto p-3" style="background-color: #F5F6F8;">
        <div class="container-no-gutters">
            <div class="row">
                <div class="my-5">
                {% block main_area %}

                {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% include 'single_page/footer.html' %}
    
</body>
</html>