<footer class="pt-4 bg-secondary">
        <div class="container">
                <div class="row row-cols-3-no-gutters">
                  <div class="col float-start">
                    <p class="small fw-lighter text-light">
                        뉴마
                    </p>
                    </div>
                  <div class="col float-start">
                    <p class="small fw-lighter text-white">
                        문의 010 - 8815 - 3164
                    </p>
                    </div>
                  <div class="col-6"></div>
                </div>

                <div class="row row-cols-3-no-gutters">
                    <div class="col fw-lighter float-start">
                        <p class="small text-white">
                            사업자등록번호: 731 - 81 - 03279
                        </p>
                    </div>
                    <div class="col fw-lighter float-start">
                        <p class="small text-white">
                            주소: 천안시 동남구 수신면 해정1길 51-22
                        </p>
                    </div>
                    <div class="col-6"></div>
                </div>

                <div class="row row-cols-3-no-gutters">
                    <div class="col fw-lighter float-start">
                        <p class="small text-white">
                            대표자: 박성수
                        </p>
                    </div>
                    <div class="col fw-lighter float-start">
                        <p class="small text-white">
                            e-mail: dnforl2004@naver.com
                        </p>
                    </div>
                    <div class="col-6"></div>
                </div>
        </div>
</footer>