<footer class="py-4 bg-secondary">
        <div class="container-no-gutters">
                <div class="row row-cols-3-no-gutters">
                  <div class="col float-start">
                    <p class="small fw-lighter text-light">
                        뉴마
                    </p>
                    </div>
                  <div class="col float-start">
                    <p class="small fw-lighter text-white">
                        문의 010 - 0000 - 0000
                    </p>
                    </div>
                  <div class="col-6"></div>
                </div>

                <div class="row row-cols-3-no-gutters">
                    <div class="col fw-lighter float-start">
                        <p class="small text-white">
                            사업자등록번호: 000 - 00 - 00000
                        </p>
                    </div>
                    <div class="col fw-lighter float-start">
                        <p class="small text-white">
                            운영시간 00:00 - 00:00
                        </p>
                    </div>
                    <div class="col-6"></div>
                </div>

                <div class="row row-cols-3-no-gutters">
                    <div class="col fw-lighter float-start">
                        <p class="small text-white">
                            대표자: 000
                        </p>
                    </div>
                    <div class="col fw-lighter float-start">
                        <p class="small text-white">
                            e-mail 0000@000.000
                        </p>
                    </div>
                    <div class="col-6"></div>
                </div>
                <div class="row row-cols-3-no-gutters">
                    <div class="col"></div>
                    <div class="col fw-lighter float-start">
                        <p class="small text-white">
                            주소: 천안시
                        </p>
                    </div>
                    <div class="col-6"></div>
                </div>
        </div>
</footer>