.container {
  height: fit-content;
  display: flex;
}

.form p{
    font-size: 15px;
    color: black;
}

.dot {
  color: red;
  font-size: 20px;
}

#apply {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  background-color:#F5F6F8;
}

#apply h2{
  margin-bottom: 10px;
}

#apply h3{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}

.last {
    margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 5px;
  border-radius: 20px;
  position: relative;
}

/*.caution {
  flex-direction: column;
  width: 95%;
  margin: 10px 0 20px 0;
}

.caution p{
    font-size: 15px;
    font-weight: bold;
    color: black;
}*/


.title {
  font-size: 25px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.form label {
  position: relative;
  margin: 0;
}

.form label .input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 0;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.hide {
  display: none;
}

.form>div {
  color: red;
  font-size: 13px;
  font-weight: bold;
  margin-left: 5px;
}