.slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 100%; /* 슬라이더 높이를 지정합니다 */
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* 넘치는 부분 숨기기 */
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide.active {
    opacity: 1;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none; /* 버튼 배경 없애기 */
    color: gray;
    font-size: 18px;
    cursor: pointer;
}

button.next {
    right: 10px;
}
