{% extends 'single_page/base.html' %}
    {% block main_area %}
    {% load static %}
  
    <link rel = "stylesheet" href = "{%static 'single_page/pretendard.css' %}">
        <style>
            .faq-detail-table {
                width: 50%;
                margin: 40px auto;
                border-collapse: collapse;
                background-color: black;
            }
            .faq-detail-table th, .faq-detail-table td {
                border: 1px solid black;
                padding: 8px;
                text-align: center;
            }
            .faq-detail-table th {
                background-color: lightgray;
            }
            .faq-detail-table td {
                background-color: white;
            }
        </style>
    </head>
    <body>
        <div class="mx-auto p-2" style="width: auto;">
            <div class="d-flex justify-content-center">
                <h3>게시판</h3>
            </div>
        </div>
        <form action="{% url 'qna:blog' %}" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="my-3">
                <div class="float-end">
                    <a button type="button" class="btn btn-primary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1rem; margin-bottom: 2rem; " href="new_post/">글쓰기</a>
                    </div>
                <table class="table table-hover">
                    <thead>
                      <tr>
                          <th scope="col">순번</th>
                          <th scope="col">제목</th>
                          <th scope="col">답변</th>
                          <th scope="col">날짜</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for list in postlist %}
                            <tr>
                                <td>{{list.pk}}</td>
                                <td>
                                
                                    <a href="password/{{list.pk}}/">{{list.postname}}</a>
                                    
                                </td>
                                <td>
                                    {%if list.answer %}
                                    답변완료
                                    {%else%}
                                    답변미완료
                                    {%endif%}
                                </td>
                                <td scope="row">{{list.created_at}}</td>
                            </tr>
                        {% endfor %}
                </tbody>
                
            </table>

            
                
        </div>
      </div>
    </form>
      {% endblock %}