{% extends 'single_page/base.html' %}
    {% block main_area %}
    {%load static%}
    <head>
        <title>{{ .postname }}</title>
    </head>
    <body>
        <div class = "container">
            <div class="d-grid justify-content-center">
                <div class="p-2"><h1>{{ post.postname }}</h1></div>
                <div class="p-2"></div>
                <div class="p-2"></div>
                <div class="p-2">※ 게시물 비밀번호를 입력해주세요. ※</div>
                {% if error %}
                    <p style="color:red;">❌ 잘못된 비밀번호 입니다.</p>
                {% endif %}
                <div class="p-2"></div>
                <form method="post">
                    {% csrf_token %}
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                    <button type="submit">enter</button>
                </form>
                <div class="p-2"></div>
                <div class="p-2"></div>
                <div class="p-2"></div>
                <a button type="button" class="btn btn-primary p-2"
                                style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: 0.9rem;" href="/qna/">목록</a>
            </div>                
        </div>
    </body>
{% endblock %}