{% extends 'single_page/base.html' %}
    {% block main_area %}
    <div class="container">
        <div class="mb-3">
            <div class="mx-5">
                <div class="card">
                    <div class="card-body">
                        <div class="my-2">
                            <p class="text-center">신청 완료되었습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <div class="mt-4">
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <a class="btn btn-primary" type="button" href="/" >돌아가기</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}