{% extends 'single_page/base.html' %}
    {% block main_area %}
    {% load static %}
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <h3>수거 방법을 선택하세요.</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d-flex justify-content-center">
                            <a class="link-dark link-underline link-underline-opacity-0" href="#">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                      <h5 class="card-title"><img src="{% static '/image/delivery.png' %}" alt="아이콘 1" style="width: 90%; height: auto; "></h5>
                                      <h6 class="card-subtitle mb-2 text-body-secondary">택배 수거 요청</h6>
                                      <p class="card-text">* 택배를 직접 보내셔도 됩니다.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex justify-content-center">
                            <a class="link-dark link-underline link-underline-opacity-0" href="#">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                      <h5 class="card-title"><img src="{% static '/image/box.png' %}" alt="아이콘 1" style="width: 90%; height: auto; "></h5>
                                      <h6 class="card-subtitle mb-2 text-body-secondary">상자 먼저 받기</h6>
                                      <p class="card-text">* 박스가 없을 때만 신청해주세요.</p>
                                    </div>
                                </div>
                            </a>
                    </div>
                    </div>
                </div>
    {% endblock %}