<!DOCTYPE html>
<html>
    {%load static%}
    <head>
        <link rel = "stylesheet" href = "{%static 'bootstrap/bootdtrap.min.css' %}" rel="stylesheet", type="text/css">
        <link rel = "stylesheet" href = "{%static 'manage_apply/main.css' %}">
        <link rel = "stylesheet" href = "{%static 'manage_apply/pretendard.css' %}">
        <script src="{%static 'manage_apply/script.JS' %}"></script>
        <link rel = "stylesheet" href = "{%static 'manage_apply/boxes_main.css' %}">
        
    </head>
    <body>
        {% include 'single_page/navbar.html' %}
        <div class="container">
            <section>
                {% block main_area %}

                {% endblock %}
            </section>
            <footer>
                {% include 'single_page//footer.html' %}
            </footer>
        </div>
    </body>
</html>