{% extends 'single_page/base.html' %}
    {% block main_area %}
    {% if user.is_staff %}
    <div class="container">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end"><h5><a class="badge rounded-pill text-bg-danger text-wrap"  href="{% url 'info_call' %}" style="width: auto;">거래 정보 보기</a></h5></div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ma_main' %}">거래 회사정보</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ma_boxreq' %}">박스 요청중</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ma_picreq' %}">수거 요청중</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'ma_picing' %}">수거중</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ma_done' %}">수거완료</a>
        </li>
      </ul>
    <form action="{% url 'ma_picing_edit' %}" method="POST">
    {% csrf_token %}
    <div class="container-fluid">
      <div class="my-3">
          <table class="table table-hover">
              <thead>
                <tr>
                    <th scope="col">신청시간</th>
                    <th scope="col">회사명</th>
                    <th scope="col">신청자명</th>
                    <th scope="col">연락처</th>
                    <th scope="col">박스수</th>
                    <th scope="col">송장번호</th>
                    <th scope="col">수거완료</th>
                </tr>
              </thead>
              <tbody>
                  {% for apply in applys %}
                      <tr>
                          <th scope="row">{{apply.apply_at}}</th>
                          <td>{{apply.company}}</td>
                          <td>{{apply.applicant}}</td>
                          <td>{{apply.apcan_phone}}</td>
                          <td>
                            {% if apply.box_num is not none and apply.sent_box_num is not none %}
                              {{ box_num|add:sent_box_num }}
                            {% elif apply.box_num is not none %}
                              {{ apply.box_num }}
                            {% elif apply.sent_box_num is not none %}
                              {{ apply.sent_box_num }}
                            {% else %}
                              0  <!-- 두 값이 모두 없을 경우 출력할 기본값 -->
                            {% endif %}
                          </td>
                          <td>{{apply.invoice_num}}</td>
                          <td>
                            <div class="form-check">
                              <input type="checkbox" name="apply_ids" value="{{ apply.pk }}">
                            </div>
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      <div class="mb-5">
        <div class="mt-4">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button onclick= "return check_input()" class="btn btn-primary">확인</button>
            </div>
        </div>
      </div>
    </div>
  </form>
    {% endif %}
    {% endblock %}