{% extends 'single_page/base.html' %}
    {% block main_area %}
    {% if user.is_staff %}
    <div class="container">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end"><h5><a class="badge rounded-pill text-bg-danger text-wrap"  href="{% url 'info_call' %}" style="width: auto;">거래 정보 보기</a></h5></div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ma_main' %}">거래 회사정보</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ma_boxreq' %}">박스 요청중</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ma_picreq' %}">수거 요청중</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'upload_file_page' %}">송장파일 입력</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ma_picing' %}">수거중</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ma_done' %}">수거완료</a>
        </li>
      </ul>
    {% csrf_token %}
    <div class="container-fluid">
      <div class="my-3">
        <h1>CSV 파일 업로드</h1>
        <form action="{% url 'upload_csv' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="csv_file">CSV 파일을 선택하세요:</label>
            <input type="file" id="csv_file" name="csv_file" accept=".csv">
            <button type="submit">업로드</button>
        </form>
      </div>
      <div class="mb-5">
        <div class="mt-4">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button onclick= "return check_input()" class="btn btn-primary">확인</button>
            </div>
        </div>
    </div>
    </div>
  </form>
    {% endif %}
    {% endblock %}