
</html>
<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "main.css">
        <link rel = "stylesheet" href = "boxes_main.css">

    </head>
    <body>
        <div class="container">
            <header>
                <nav>
                    <div class="logo">
                        <a href = "main.html">
                            <img src="logo.png" alt="로고" width="120px">
                        </a>
                    </div>
                    <ul>
                        <li><a href="introduce.html">사업소개</a></li>
                        <li><a href="information.html">이용안내</a></li>
                        <li><a href="search.html">거래조회</a></li>
                        <li><a href="q&a.html">문의</a></li>
                        <div class="button">
                            <li><a href="apply_page.html">신청하기</a></li>
                        </div>
                    </ul>
                </nav>
            </header>
            
            <section>
                <body>
                    <div class="container1">
                        <!--<a href="apply_page.html" style="text-decoration: none; color: blue;">&lt; 뒤로가기</a>-->
                        <h3 class="title">폐기물 수거 요청</h3>
                        <h3>1. 폐기물 종류를 체크해주세요.</h3>
                        <div class="caution">
                            <p>택배 배송 시 유의사항</p>
                            <ul>
                                <li> * 10kg을 넘지 말아주세요.</li>
                                <li> * 폐기물 이외의 물건을 넣지 마세요.</li>
                                <li> * 송장 번호는 필히 소지하시기 바랍니다.</li>
                            </ul>
                        </div>
                        <div style="display: flex; justify-content: space-around;">
                            <div class="image-container1">
                                <img src="블록.png" alt="이미지 1" class="option-image" data-option-value="A">
                            </div>
                            <div class="image-container1">
                                <img src="분말.png" alt="이미지 2" class="option-image" data-option-value="B">
                            </div>
                            <div class="image-container1">
                                <img src="환봉.png" alt="이미지 3" class="option-image" data-option-value="C">
                            </div>
                            <div class="image-container1">
                                <img src="밀링툴.png" alt="이미지 4" class="option-image" data-option-value="D">
                            </div>
                        </div>
                        <table id="dynamicTable">
                            <thead>
                                <tr style="background-color: #eee; border-radius: 40px;">
                                    <th>종류</th>
                                    <th>무게(kg)</th>
                                    <th>수량(box)</th>
                                    <th>물품 추가</th>
                                    <th>물품 삭제</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select class="dynamic-select">
                                            <option value="A">폐 지르코니아 블록</option>
                                            <option value="B">폐 지르코니아 분말</option>
                                            <option value="C">폐 환봉</option>
                                            <option value="D">폐 밀링툴</option>
                                        </select>
                                    </td>
                                    <td><input type="number" step="0.1" min="0"></td>
                                    <td>
                                        <select>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </td>
                                    <td><button class="add-row-button" onclick="addRow()">추가</button></td>
                                    <td><button class="delete-row-button" onclick="deleteRow(this)">삭제</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="button-container">
                            <button class="submit-button">다음 단계로</button>
                        </div>
                    </div>
                    </body>
            </section>
            <footer>
                <div class = "detail1">
                    <p>뉴마</p>
                    <p>사업자등록번호: 000 - 00 - 00000</p>
                    <p>대표자: 000</p>
                </div>
                <div class = "detail2">
                    <p>문의 010 - 0000 - 0000</p>
                    <p>운영시간 00:00 - 00:00</p>
                    <p>e-mail 0000@000.000</p>
                    <p>주소: 천안시</p>
                </div>
            </footer>
        </div>
    </body>
</html>
