* {
    padding: 0;
    margin: 0;
    font-family:'Pretendard' ;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body { 
    min-height: 100%;
    background-color:#F5F6F8;
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
}
.container {
    width: 100%;
    max-width: 1540px; 
    margin: 0 auto;
    box-sizing: border-box;
    height:  100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 1.5rem;
    align-items: center;
    
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #fff;
    margin:0px;
}
nav>ul{
    display: flex;
    align-items: center;
    background-color: #fff;
    flex: 1;
    justify-content: space-around; /* 메뉴 항목들 간의 간격을 균등하게 설정 */
}
nav>ul>li {
    list-style-type: none;
    margin-left: 1.5rem;
    background-color: #fff;
}
nav>ul>li>a{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 5px 20px;
    margin-left: 65px;
    color: black;
    white-space: nowrap;  /* 텍스트가 줄 바꿈되지 않도록 설정 */
}
.logo{
    margin-left: 20px;
    margin-top: 5px;
}
.button{
    background-color: #2F4DE7;
    border-radius: 30px;
    margin-left: 550px;
    padding-bottom: 4px;
    margin-left: auto; /* 버튼을 오른쪽 끝으로 정렬 */
    flex-shrink: 0; /* 버튼이 줄어들지 않도록 설정 */
}
.button>li{ 
    list-style-type: none;
    align-items: center;
}
.button>li>a{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 5px 20px;
    color: #ffff;
}

section{
    width:80%;
    /*background-color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 30px;
    margin-top: 80px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 10px rgba(0.2, 0.2, 0.2, 0.2); */
}
section>div>h2{
    color: #ffff;
    font-size: 3rem;
    font-weight: 1000;
}
footer{
    background-color: #707070;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 6rem;
    margin-bottom:0px;
    display: flex;
}
.detail1{
    margin-left: 40px;
}
.detail2{
    margin-left: 100px;
}
p{
    font-size: 10px;
    color: #ffff;
    margin-bottom: 8px;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 20000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: auto;
    z-index: 1; /* 이미지가 상위 요소가 되도록 z-index 설정 */
}

.clickable-areas {
    position: absolute;
    width: 90%;
    height: 100%;
    z-index: 2;
    display: flex;
    
}

.click-area {
    width: 40%;
    height: 20%;
    margin-top: 23rem;
    margin-left: 37rem;
    background: rgba(155, 10, 10, 0); /* 클릭 영역을 확인하기 위한 배경색 (필요 시 제거 가능) */
}
/*info*/
.section1{
    margin-top:30px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.box{
    width:300px;
    height: 260px;
    margin: 30px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
    justify-content: center;
    align-items: center;

}
.box>p{
    color:black;
    justify-content: center;
    align-items: center;
}

.arrange{
   margin-top:30px;
   margin-right: 40px;
}
/*apply_page*/
.section2{
    width:200px;
    height: 220px;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    margin: 0 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin: 50px 0;
    display:block;
    margin: 50px;
}

h3{
    margin-top: 30px;
    color:black;
    font-size: 40px;
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url(./woff2/Pretendard-Bold.woff2) format('woff2'), url(./woff/Pretendard-Bold.woff) format('woff');
}
a {
    text-decoration: none; 
    color: inherit; 
}
section .section2 p {
    color: black;
    font-size: 13px;
    margin-top:5px;
}
.section2:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/*info slide*/
.slider {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    overflow: hidden;
}
.slides{
    display:flex;
    transition: transform 0.5s ease-in-out;
}
.slide{
    min-width: 100%;
    box-sizing: border-box;
}
.slide img{
    width: 100%;
    display: block;
}
.slide button{
    position: relative;
    top:-45%;
    left: 97%;
    transform: translateY(-50%);
    border: none;
    color: gray;
    font-size: 30px;
    cursor: pointer;
    background-color: #F5F6F8;
}
/*warning.html*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;
}
select, input[type="number"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.container1 {
    padding: 20px;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.add-row-button, .delete-row-button {
    padding: 5px 10px;
    cursor: pointer;
}
.submit-button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
#dynamicTable {
    width: 80%;
    margin: 20px auto;
}
.image-container1 {
    background-color:#F5F6F8;
    width: 230px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container1 img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.container1 h3{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 25px;
}
.container1 p{
    font-size: 20px;
    color: black;
}
.caution{
    background-color: #fff;
    padding:25px;
    margin:10px;
    border-radius: 30px;

}
.caution>ul>li{
    list-style-type: none;
}


