{% extends 'single_page/base.html' %}
{% load widget_tweaks %}
{% block extra-style %}
<style>
    .form-border {
        border: 1px solid #d1d1d1; /* 부드러운 회색 테두리 */
        padding: 20px;
        border-radius: 15px; /* 더 부드러운 둥근 모서리 */
        width: 100%;
        max-width: 500px; /* 최대 너비 제한 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 추가 */
        background-color: #ffffff; /* 배경색을 명확하게 설정 */
    }
</style>
{% endblock %}

{% block main_area %}
{% if form.non_field_errors %}
    <script>
        alert("{{ form.non_field_errors.as_text|escapejs }}");
    </script>
{% endif %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 50vh; background-color:#F5F6F8;">
    <div class="form-border bg-white">
        <h4 class="text-center mb-5">비밀번호 재설정</h4>
        <div class="text-center col-md-12 mb-5">
            <p>회원가입 시 등록했던 정보를 정확히 입력해주세요.</p>
        </div>
        <div class="col-10 mx-auto">
            <form action="" method="post">
                {% csrf_token %}
                <div class="col mb-4">
                    {{ form.user_name|add_class:"form-control"|attr:"placeholder=이름" }}
                </div>
                <div class="col mb-4">
                    {{ form.user_username|add_class:"form-control"|attr:"placeholder=아이디"}}
                </div>
                <div class="col mb-4">
                    {{ form.user_email|add_class:"form-control"|attr:"placeholder:이메일 주소"}}
                </div>
                <div class="d-grid mb-4 mx-auto">
                    <input type="submit" class="btn btn-primary mb-2" value="비밀번호 재설정">
                    <p class="text-success text-center">이메일로 비밀번호 재설정 링크를 보내드립니다</p>
                </div>

            </form>
            <div class="col-12">
                <p><a href="{% url 'search_id'%}">아이디가 기억나지 않으신가요?</a></p>
            </div>
            <div class="col-12">
                <p><a href="{% url 'register' %}">회원가입하러 가기</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
